<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1> This is my home page</h1>

    <a href="{% url 'product_list' %}">Product list</a> <br>

    <a href="{% url 'restaurant_list' %}">restaurant list</a> <br>

    <a href ="{% url 'author_list' %}">author list</a> <br>

    <a href="{% url 'blog_list' %}">Blog List</a> <br>

    <a href="{% url 'logout' %}">Logout</a>    
</body>
</html>